body {background-color: #D2E0FB;}
.h2renk {color: #697565;}
.h3renk {color:#795757;}
.h1renk {color: #C96868;}

.navbar {text-align: center;font-size: larger;word-spacing: 12px;}
.anasayfa {word-spacing: normal !important;}